<h1>Welcome to Private Events!</h1>

<h2>Upcoming events</h2>
<% if @events.upcoming.any? %>
  <ul>
    <%= render @events.upcoming %>
  </ul>
<% else %>  
  <%= link_to "Add Event", new_event_path %>
<% end %>

<h2>Past events</h2>
<% if @events.past.any? %>
  <ul>
    <%= render @events.past %>
  </ul>
<% end %>